.registered {
    font-family: monospace;
}

@media screen and (max-width:1024px) {
    .button-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr !important;
    }

    .button-container button {
        margin-top: 20px !important;
    }
}

@media screen and (max-width:768px) {
    .button-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr !important;
    }

    .button-container button {
        margin-top: 20px !important;
    }
}

@media screen and (max-width:425px) {
    .button-container {
        display: grid;
        grid-template-columns: 1fr !important;
    }

    .forget-button button {
        grid-template-columns: 1fr;
        margin-top: 20px !important;
        margin-left: 0px;
    }

    .button-container button {
        margin-top: 20px !important;
    }
}